<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Unit I </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p><ul><li>Imitation of the writing style employed by Eula Biss in her essay <a href="http://www.snreview.org/biss.pdf" title="The Pain Scale">"The Pain Scale"</a></li><li>Explore seemingly simple concepts and find their hidden complexity.</li></ul></p>
    <a class="project-link" href="dl/unit1EssayRD.pdf" target="_blank">Rough Draft</a>
	<a class="project-link" href="dl/unit1PeerReviews.pdf" target="_blank">Peer Reviews</a>
	<a class="project-link" href="dl/unit1EssayFD.pdf" target="_blank">Final Draft</a>
	<a class="project-link" href="dl/unit1Reflection.pdf" target="_blank">Reflection</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Unit II </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p><ul><li>Develop a definition of a certain genre (in my case "manifesto").</li><li>Explore works in said genre and relate them to the synthesized definition.</li><li>Work with a team to co-write both a presentation and reference document.</li></ul></p>
	<a class="project-link" href="dl/unit2PeerReviews.pdf" target="_blank">Peer Reviews</a>
	<a class="project-link" href="https://docs.google.com/document/d/11kgeKQblVTib2Gl6p9lxTf_3Sy8-jwW1F1fJ1y4tcjM/edit?usp=sharing" target="_blank">Final Draft</a>
	<a class="project-link" href="https://docs.google.com/presentation/d/1KJ3NqT242U56HvnYy0zzTIz8I-UhwyDtlo2d9MyHAwM/edit?usp=sharing" target="_blank">Presentation</a>
	<a class="project-link" href="dl/unit2Reflection.pdf" target="_blank">Reflection</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Unit III </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p><ul><li>Write a performance of a genre chosen by any group in Unit II.</li><li>Analyze the writen performance of the genre with respect to critical sources and the appropriate reference document produced by my peers.</li></ul></p>
    <a class="project-link" href="dl/unit3PeerReviews.pdf" target="_blank">Peer Reviews</a>
	<a class="project-link" href="dl/unit2EssayRD.pdf" target="_blank">Final Draft</a>
	<a class="project-link" href="dl/unit3Reflection.pdf" target="_blank">Reflection</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Unit IV </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p><ul><li>Create a portfolio representing that which I wrote over the course of ENGW1111.</li></ul></p>
    <a class="project-link" href="dl/unit4PeerReviews.pdf" target="_blank">Peer Reviews</a>
	<a class="project-link" href="dl/unit4RD.pdf" target="_blank">Rough Draft</a>
  </div>
</div>
